*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "Ruhl regular" ;
    src: url(./Fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
    font-family: "Ruhl bold";
    src: url(./Fonts/FrankRuhlLibre-Bold.ttf);
}
@font-face {
    font-family: "Ruhl medium";
    src: url(./Fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family: "Vibes";
    src: url(./Fonts/GreatVibes-Regular.ttf);
}

html{
    font-size: 62.5%;
    --header1: calc(4rem + 1vw);
    --header2: calc(3rem + 1vw);
    --header3: calc(2.5rem + 1vw);
    --header4: calc(2rem + 1vw);
    --text: calc(1rem +  1vw);

}

a{
    text-decoration: none;
    color: white;
}

i{
    pointer-events: none
}
p{
    font-size: var(--text);
    font-family: "Ruhl regular", sans-serif;
}
h1{
    font-size: var(--header1);
    font-family: "Ruhl bold", sans-serif;
    margin: 2rem 0rem;
    color: white;
}
h2{
    font-size: var(--header2);
    font-family: "Ruhl medium", sans-serif;
    color:rgb(42, 41, 59) ;
}
.header{
    display: flex;
   align-items: center;
   justify-content: space-around;
   min-height: 10vh;
   width: 90%;
   margin: auto;
   position: relative;
}
.line1, .line2{
    width: 3rem;
    height: 0.2rem;
    background-color: aliceblue;
    margin: 0.4rem;
    pointer-events: none;
}
.logo{
    flex: 1 1 20rem;
    z-index: 2;
}
ul{
    display: flex;
   justify-content: space-between;
   z-index: 2;
}
ul a{
    font-size: var(--text);
    color: black;
    margin: 2rem;
    padding: 2rem;
}
ul a:hover{
 scale: 1.3;
 text-decoration: underline;
 color: white;
}
#logo{
    font-size: var(--header4);
    font-family: "Vibes", sans-serif;
    color: rgb(254, 251, 251);
    font-weight: bolder;
}
body{
    position: relative;
    background-color: rgb(42, 41, 59);
    overflow-x: hidden;
}
.login{
    background-color:  rgb(42, 41, 59);
    border-radius: 5rem;
    color: whitesmoke;
 
}


                       /* Section 1 */
  .sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    width: 90%;
    margin: auto;
    color: white;
    
  }            
  
  .text{
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 0rem 2rem;
    background-color:  rgb(42, 41, 59);
    color: white;
}
.login{
    background-color:  rgb(42, 41, 59);
    border-radius: 5rem;
    color: whitesmoke;
  }
  .design{
    font-size: var(--text);
    font-family: "Ruhl medium", sans-serif;
    background-color: rgb(225, 138, 0);
    padding: 1rem;
    border-radius: 5rem;
   
  }

  .image{
    flex: 1 1 30rem;
    z-index: 2;
    position: relative;

  }

.button{
    margin: 2rem 0rem;
}
.delivery, .order, .Order,.check, .submit{
    padding: 1.5rem;
    width: 15rem;
    margin: 1rem ;
    border: none;
    border-radius: 5rem;
    background-color: rgb(108, 174, 9);
    color: white;
    font-size: var(--text);
    font-family: "Ruhl regular", sans-serif;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(183, 176, 176);
}
.circle{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 138, 0);
    clip-path: circle(700px at 100% 0%);
    -webkit-clip-path: circle(700px at 100% 0%);
}
.h1-style{
    position: relative; 
    overflow: hidden;
}
.color-h1{
    width: 100%;
    height: 100%;
    background:  rgb(229, 61, 61);
    position: absolute;
 top: 0%;
 left: 0%;
 mix-blend-mode:darken;
 transform: translateY(100%);
}
.hide{
    overflow: hidden;
  }
/* Cards Section */
.animation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    min-height: 100vh;
    color: white;
    position: relative;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(225, 138, 0);
    margin: 2rem;
    padding: 2rem;
    height: 60vh;
}

.check{
    background-color: rgb(72, 54, 98);
}
.leaf{
    position: absolute;
    top: 0%;
    left: -5%;
  z-index: -2;
  animation: leaf  infinite ease-in-out alternate-reverse 2s;
}
.leaf2{
    position: absolute;
    top: 0%;
    right: -5%;
  z-index: -2;
  animation: leaf2  infinite ease-in-out alternate-reverse 2s;
}
.leaf2 img{
   transform: rotateY(180deg);
}
@keyframes leaf {
    
    from{
        transform: rotateZ(-5deg);
    }
    to{
        transform: rotateZ(5deg);
    }
}
@keyframes leaf2 {
    
    from{
     rotate: 2deg;
    }
    to{
        rotate: -3deg;
    }
}

/* Contact Section */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
    position: relative;
    overflow-x: hidden;
}
.contact-img{
    flex: 1;
    height: 90vh;
    position: relative;
}
.contact-img img{
  width: 100%;
  object-fit: contain;
 height: 100%;
}

form span{
    color: greenyellow;
}
label{
    font-size: var(--header4);
    font-family: "Ruhl medium", sans-serif;
    color: white;
    margin: 2rem;
}
input{
    font-size: var(--text);
    font-family: "Ruhl regular", sans-serif;
    width: 60%;
    margin-bottom: 2rem;
    padding: 0.3rem;
}
.submit{
    background-color: greenyellow;
    color: black;
}
.revealImage , .revealText{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 41, 59);
    position: absolute;
    top: 0%;
    left: 0%;
}
 
                                  /* footer */
.footer{
 height: 70vh;
 position: relative;
}     
.footer h2{
    color: white;
    font-family: "Vibes", sans-serif;
    margin: 2rem;
   color : rgb(42, 41, 59);
}                             
footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items:self-end;
  height: 20vh;
    background-color: rgb(98, 158, 95);
   
}  
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    flex-basis: 50rem;
    z-index: 2;
} 
.icons a{
    font-size: var(--header4);
    color: white;
    margin: 2rem;
}     
                         
/* 
Cursor */
.cursor{
    width: 5rem;
    height: 5rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-shadow: 0px 0px 10px white;
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: background ,transform;
}
.cursor-text{
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% ,-50%);
    font-size: 1.3rem;
    font-family: "Ruhl medium";
    color: black;
}
.btn-active{
    scale: 2;
    background-color: rgb(157, 185, 202);
}
.nav-active{
    background-color: rgb(99, 227, 208);
    scale: 2;
}

                       /* Second page */
                       
.Delivery{
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 5rem;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.delivery-image{
 flex: 2;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 2;
}                  
.delivery-image img{
    width: 50%;
    height: 70vh;
    object-fit: cover;
   
}
.delivery-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
flex: 1;
margin: 0rem 2rem;

}
.delivery-style{
    position: relative;
    overflow: hidden;
}
.delivery-colr{
    width: 100%;
    height: 100%;
    background:  rgb(78, 229, 61);
    position: absolute;
 top: 0%;
 left: 0%;
 mix-blend-mode:hue;
 transform: translateY(100%);  
}
.delivery-text h1{
    color: black;
}
.decore{
    color: rgb(172, 62, 230);
}
.delivery-text h2{
   background-color: rgb(182, 84, 243);
   font-size: var(--text);
   border-radius: 3rem;
   padding: 1.5rem;
   border: 2px solid black;
}
.delivery-circle{
    width: 40%;
    height: 35%;
    border-radius: 50%;
    background: rgb(253, 255, 254);
    position: absolute;
    top:15%;
    right: 15%;
    box-shadow: -5px 5px  30px rgb(118, 112, 112);
    z-index: 1;
}

.ball {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    position: absolute;
 top: 30%;
 left: 40%;
 transform: translate(-30% ,-30%);
  background: radial-gradient(circle at bottom, rgb(226, 219, 206), rgb(242, 199, 134) 10%, rgb(194, 133, 36) 80%, rgb(110, 69, 2) 100%);
z-index: 2;  
}
  .ball2{
    left: 47%;
    top: 46%;
  }
  .ball3{
    left: 50%;
    top: 11%;
  }
  .ball img{
    width: 100%;
    height: 100%;
  }
  .order{
    box-shadow: 0px 0px 10px rgb(100, 97, 97);
   
  }
  .delivery-active{
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(72, 69, 69);
  }

  .slide {
   width: 100vw;
   height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
    background: linear-gradient(120deg, rgb(128, 101, 159), rgb(229, 200, 71));
    transform: translateX(-100%);
  }
  .slide img{
  width: 100vw;
  height: 100%;
    object-fit: contain;
   
  }

/* Media Query */

@media screen and (width >= 1500px) {
    .circle{
        clip-path: circle(900px at 100% 0%);
        -webkit-clip-path: circle(900px at 100% 0%);
    }
    .html{
     font-size: 80%;
    }
    .ball{
        z-index: 2;
        background: radial-gradient(circle at bottom, rgb(251, 250, 248), rgb(153, 120, 191) 10%, rgb(85, 38, 123) 80%, rgb(109, 49, 159) 100%); }
    }

@media screen and (width <= 1200px) {
    .leaf  , .leaf2 {
       display: none;
    }
    .card{
        height: 50vh;
    }
    .ball{
        z-index: 2;
        background: radial-gradient(circle at bottom, rgb(251, 250, 248), rgb(153, 120, 191) 10%, rgb(85, 38, 123) 80%, rgb(109, 49, 159) 100%); }
    }

    @media screen and (width <= 1000px) {
        .delivery-image img{
            width: 70%;
            height: 70%;
        }
        .delivery-circle{
            border-radius: 60%;
        }
        .ball{
            left: 35%;
        }
        .ball3{
            left: 50%;
        }
        .ball2{
            left: 45%;
        }
    }

@media screen and (width < 900px) {
    
    .circle{
        clip-path: circle(600px at 100% 0%);
        -webkit-clip-path: circle(600px at 100% 0%);
    }
  .image img{
    width: 100%;
    height: 100%;
  }
  .contact-img{
    flex: 2;
  }
}
@media screen and (width < 800px) {
    
    .text{
        z-index: 2;
        background: none;
       }
     .animation{
        flex-direction: column;
        margin-bottom: 3rem;
        align-items: center;
     }  
    .card p{
        font-size: var(--header4);
     }
     .card h2{
        font-size: var(--header1);
     }
     .check{
        font-size: var(--header3);
        width: 50%;
     }
     .login{
  background: none;
     }
    ul a{
        margin: 1rem;
        padding: 1rem;
    }
    .footer{
        width: 100%;
        margin: 0%;
    }
    .delivery-text{
        z-index: 3;
    }
    .ball{
        left: 90%;
    }
    .ball3{
        left: 70%;
        top: 10%;
    }
    .ball2{
        left: 70%;
      top: 50%;
    }
}

@media screen and (width <= 650px) {
    .circle{
        display: none;
    }
   
   
    .text{
        align-self: center;
    }
    .check{
        font-size: var(--header3);
        width: 50%;
     }
  
    .card{
        width: 80%;
            height: 80%;
    } 
    .card p{
        font-size: var(--text);
     }
     .card h2{
        font-size: var(--header2);
     }

     /* burger */
     .header{
        z-index: 5;
     }
     .sec1{
        z-index: -3;
        display: block;}
.burger{
    cursor: pointer;
}
     .header ul{
        background-color: rgb(225, 138, 0);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 1;
        z-index: -2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(255, 247, 247);
        clip-path: circle(50px at 100% -10%);
        -webkit-clip-path: circle(50px at 100% -10%);
        overflow: hidden;
    }
    ul a{
        font-size: var(--header3);
    }
   #logo{
  font-size: var(--header3);
   }
}
  @media screen and (width <= 500px) {
    ul a{
        font-size: var(--header1);
    }
    .contact{
        display: block;
        width: 100%;
    }
    .footer h2{
        display: none;
    }
    .footerImage img{
        height: 30vh;
    }
    footer{
        height: 10vh;
    }
    .delivery-circle{
        display: none;
    }
    .delivery-image {
        flex-basis: 50rem;
    }
   .Delivery{
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
   }
   .ball{
    left: 10%;
    top: 55%;
}
.ball3{
    top:55% ;
    left: 85%;
}
.ball2{
   display: none;
}
  }
  @media screen and (width <= 300px) {
    .footerImage img{
       display: none;
    }
    .ball{
        width: 5rem;
        height: 5rem;
    }
  }